[submodule "src/vendor/gflags"]
	path = src/vendor/gflags
	url = https://github.com/gflags/gflags.git
[submodule "src/vendor/googletest"]
	path = src/vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "test/atsy/atsy"]
	path = test/atsy/atsy
	url = https://github.com/bpowers/atsy
[submodule "src/vendor/johnterickson/mman-win32"]
	path = src/vendor/johnterickson/mman-win32
	url = https://github.com/johnterickson/mman-win32.git
[submodule "src/vendor/johnterickson/Heap-Layers"]
	path = src/vendor/johnterickson/Heap-Layers
	url = https://github.com/johnterickson/Heap-Layers.git
